<% layout('layouts/app') %>
<div class="row p-5">
  <div class="col-md-6">
    <div class="card mb-5">
      <img src="<%= place.image %>" alt="" class="img-fluid" />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= place.title %>
          <p class="text-secondary"><%= place.description %></p>
        </li>
        <li class="list-group-item"><%= place.location %></li>
        <li class="list-group-item">
          Author: <u><%= place.author.username %></u>
        </li>
        <li class="list-group-item">Rp.<%= place.price %></li>
        <% if(currentUser && place.author.equals(currentUser._id)) {%>
        <li class="list-group-item">
          <form
            action="/places/delete/<%= place._id %>?_method=delete"
            method="post"
            class="d-inline"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <a
            href="/places/edit/<%= place._id %>"
            class="btn btn-warning text-white"
            >Edit</a
          >
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Leave a Comment And Rating</h2>
    <form
      action="/places/<%= place._id %>/review"
      method="post"
      class="validate-form"
      novalidate
    >
      <div>
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          name="review[rating]"
          min="1"
          max="5"
          id="rating"
          class="form-range"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div>
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="review[body]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Send</button>
    </form>
    <hr />
    <h3>Comments:</h3>
    <%if(place.reviews.length > 0){%> <% for(const review of place.reviews){ %>
    <div class="card text-start my-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <p class="card-text"><%= review.body %></p>
        <form
          action="/places/delete/<%= place._id %>/review/<%= review._id %>?_method=delete"
          method="post"
        >
          <button type="submit" class="btn btn-danger btn-sm">
            Delete komen
          </button>
        </form>
      </div>
    </div>
    <% } %> <% }else{ %>
    <div class="text-start my-3">
      <p class="text-secondary text-center">Belum ada komentar</p>
    </div>
    <% } %>
  </div>
</div>
