<% layout('layouts/app') %>
<h2 class="text-center">Edit Place</h2>
<div class="col-6 offset-3">
  <form
    action="/places/saveEdit/<%= place._id %>?_method=put"
    method="post"
    class="validate-form"
    novalidate
  >
    <div class="mb-3">
      <label for="title" class="form-label"> Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="place[title]"
        placeholder="masukan judul"
        value="<%= place.title %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label"> Price:</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="place[price]"
        placeholder="masukan harga"
        value="<%= place.price %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3" class="form-label">
      <label for="location"> Description:</label>
      <textarea
        name="place[location]"
        id=""
        cols="30"
        rows="5"
        class="form-control"
        required
      >
<%= place.location %></textarea
      >
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3" class="form-label">
      <label for="description"> Location:</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="place[description]"
        placeholder="masukan deskripsi"
        value="<%= place.location %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3" class="form-label">
      <label for="image"> Image Address:</label>
      <input
        type="text"
        class="form-control"
        id="image"
        name="place[image]"
        placeholder="masukan image address"
        value="<%= place.image %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Save</button>
  </form>
</div>
